@charset "utf-8";
/* CSS Document */
/*모의고사 */
#list03{
	width: 100%;
	height: 35px;
	margin-top: 145px;
	margin-bottom: 30px;
}

#list03 div{	
	display: inline-block;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	padding: 10px 0px;
	box-shadow: 1px 1px #b0b0b0 inset;
	float: left;
	width: 225px;
	margin-right: 1px;
	background: #eaeaea;
}

#list03 button{	
	width: 45px;
	margin-right: 0px;
	padding: 6px 0px;
	font-size: 13px;
	line-height: 1.1em;
	color: #ffffff;
	box-shadow: 0px 2px 1px 0px #797979 inset;
	text-shadow: 1px 1px 1px #797979;
	background-color: #a1a1a1;
	border: none;
	border-radius: 0px 5px 5px 0px;
}

#list03 div:nth-child(5)>span{
	font-size: 10px;
}

#list03 div:nth-child(3){
	background: -webkit-gradient(linear, left top, left bottom, from(#2e2e2f), to(#0c0c0d));
    background: -moz-linear-gradient(top,  #2e2e2f,  #0c0c0d);
	background: -ms-linear-gradient(top,  #2e2e2f,  #0c0c0d);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2f', endColorstr='#0c0c0d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	box-shadow: none;
	color: #fff;
}

#testBox{
	margin: 5px 0px 200px;
	padding: 30px 20px 100px;
	border-radius: 5px; 
	box-shadow:2px 2px 5px 0px #d4d4d4; 
	background-color: #ffffff;
}


#testBox>div>p:nth-child(1){
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
}

#testBox>div>p:nth-child(2){
	display: inline-block;
	font-size: 11px;
	padding-left: 298px;
/*	font-weight: bold;*/
}

#testBox>div>p:nth-child(2)>span{
	font-weight: bold;
}

#testBox>div>a:nth-child(3),#testBox>div>a:nth-child(4){
	padding: 5px 10px; 
	font-size: 12px;
	border: solid 1px #d5d5d5;
	border-radius: 3px;
	background: #fefdfd; /* Old browsers */
    background: -moz-linear-gradient(top, #fefdfd 0%, #eae9e9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fefdfd 0%,#eae9e9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fefdfd 0%,#eae9e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefdfd', endColorstr='#eae9e9',GradientType=0 );
	vertical-align: middle;	
	font-weight: bold;
}

#testBox>p{
	margin-top: 30px;
	padding-bottom: 15px;
	font-size: 12px;
	font-weight: bold;
	border-bottom: solid 2px #000000;
}

#testBox>p:nth-child(3){
	margin-top: 50px;
}


#testBox>p>span{
	float: right;
	font-size: 10px;
	color: #555555;
	vertical-align: middle;
}

#testBox>p>span>img{
	vertical-align: middle;
	padding-left: 10px;
}

