@charset "utf-8";
/* CSS Document */

@import url(core.css);
@import url(common.css);

/*메인 컨텐츠 부모박스*/
#cont{
	position: relative;
	width: 990px;/*옆으로 이동*/
	min-height: 600px;/*최소 높이 600px 유지(내용 많으면 늘어난다.)*/
	margin: 0px auto;
	
/*	outline: 1px solid red;*/
}

#cont::after{
	content: "";
	display: block;
	clear: both;
}

/*속박스 공통*/
#cont>aside{
	position: relative;
	float: left;
	box-sizing: border-box;/*크기 고정*/
}

/*LNB(Local Navigation Bar 영역)*/
#cont>aside:first-child{
	width: 220px;
	min-height: 580px;
	
/*	outline: 1px solid green;*/
}

.lnb_tit{
	font-size: 24px;
	color: #f25917;
	width: 100%;
	height: 36px;
	margin-top: 30px;
	padding-bottom: 10px;
	box-sizing: border-box;
	
	border-bottom: 1px solid #e0e0e0;
}

/*LNB*/
.lnb_menu{
	width: 165px;
	margin-top: 10px;
}

.lnb_menu>ul{
	width: 100%;
	padding-bottom: 20px;
	
	border-bottom: 1px solid #e0e0e0;
}

.lnb_menu>ul>li{
	width: 100%;/*한줄에 하나*/
}

/*링크 디자인*/
.lnb_menu>ul>li>a{
	position: relative;
	display: block;/*디자인 적용*/
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	line-height: 33px;
	color: #808080;
}

/*상위메뉴에 마우스 오버시 글자색 변경*/
.lnb_menu>ul>li:hover>a{
	color: #444;
}
/*상위메뉴에 마우스 오버시 화살표 색 변경*/
.lnb_menu>ul>li:hover>a::before{
	color: darkorange;
}


/*화살표*/
.lnb_menu>ul>li>a::before{
	content: "＞";
	font-size: 11px;
	font-family: arial;
	margin-right: 5px;
	vertical-align: 2px;
}

/*선택된 메뉴 디자인*/

.selm>a{
	border: 1px solid #f99562;
	border-radius: 2px;
	background: linear-gradient(to bottom, #fcb219, #f2400f);
	color: #fff !important;
}

.selm>a::before{
	opacity: 0;/*앞의 화살표 안보이게*/
}

/*하위메뉴*/
.lnb_menu>ul>li>ol{
	width: 100%;
	margin-top: -5px;
	height: 0px;/*하위 감추기*/
	overflow: hidden;/*하위메뉴 감추기*/
	transition: height 0.3s ease-out;/*애니메이션*/
}

.lnb_menu>ul>li>ol>li{
	width: 100%;
}

.lnb_menu>ul>li>ol>li>a{
	display: block;/*디자인 적용*/
	height: 21px;
	box-sizing: border-box;
	padding-top: 5px;
	padding-left: 15px;
	font-size: 11px;
	font-weight: bold;
/*	line-height: 33px;*/
	color: #808080;
}

.lnb_menu>ul>li>ol>li>a::before{
	content: "·";
	font-size: 14px;
	margin-right: 3px;
	vertical-align: -1px;
}

/*하위 메뉴가 있는 상위메뉴 끝에 + 기호 넣기*/
.plus>a::after{
	content: "+";
	display: block;
	position: absolute;
	top: 0px;
	right: 10px;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color: darkorange;
}

/*마이너스기호*/
.plus2>a::after{
	content: " - ";
	color: #fff;	
	display: block;
	position: absolute;
	top: 0px;
	right: 10px;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
}


/*하위메뉴 선택글자*/
.sfc a {
	color: #f25917!important;
}

/*가이드 날짜 ------------------------------- */
.lnb_date{
	width: 165px;
}

.lnb_date>aside{
	padding-top: 20px;
	float: left;
}

.lnb_date>aside:first-child{
	width: 40%;
}

/*더보기 이미지*/
.lnb_date>aside:first-child>img:last-child{
	vertical-align: 1px;
	/*inline인데 아래로 내려간 요소를 세로로 움직일 때 vertical-align을 사용한다.*/
}

/*오늘날짜*/
.lnb_date>aside:last-child{
	width: 60%;
}

.lnb_date>aside:last-child>span{
	display: block;/*디자인 적용*/
	text-align: center;
	font: bold 14px arial, dotum;
}

.lnb_date>aside:last-child>span:first-child b{
	font-size: 11px;
}

.lnb_date>aside:last-child>span:first-child em{
	font-size: 20px;
	color: #ff4119;
	font-style: normal;
}

/*링크버튼들*/
.lnb_btns li{
	padding-right: 7px;
}

/*문의 안내*/
.lnb_info{
	margin-top: 20px;
}

/*서브 내용 영역-----------------------------*/
#cont>aside:last-child{
	width: 759px;
	min-height: 700px;/*최소높이*/
	border-left: 1px solid #e0e0e0;
	box-shadow: -5px 0px 5px #f1f1f1; 
	/*	outline: 1px solid blue;*/
	
}

#cont>aside:last-child>hgroup{
	width: 100%;
	height: 105px;
	background: url(../images/img_tit_2.jpg) no-repeat;
	overflow: hidden;
}

/*페이지 위치바*/
#cont>aside:last-child>hgroup>h3{
	width: 408px;
	height: 16px;
	margin: 20px 0px 0px 40px;
	font: 12px "돋움","맑은 고딕";
	color: #999898;
}

#cont>aside:last-child>hgroup>h3>img{
	vertical-align: 0px;
}

#cont>aside:last-child>hgroup>h1{
	width: 257px;
	height: 32px;
	margin-top: 10px;
	margin-left: 40px;
	font-size: 32px;
	font-weight: bold;
	color: #444;
}

/*서브컨텐츠박스*/
.subcont{
	margin: 30px 0px 35px;
}

/*위치바 글자 class*/
.setsf{
	font-weight: bold;
	color: #666;
	
}
















